<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lumenglover.yuemupicturebackend.mapper.InviteRecordMapper">

    <resultMap id="BaseResultMap" type="com.lumenglover.yuemupicturebackend.model.entity.InviteRecord">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="inviterId" column="inviterId" jdbcType="BIGINT"/>
            <result property="inviteeId" column="inviteeId" jdbcType="BIGINT"/>
            <result property="inviteCode" column="inviteCode" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="confirmTime" column="confirmTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,inviterId,inviteeId,
        inviteCode,status,createTime,
        confirmTime,isDelete
    </sql>
</mapper>
