<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lumenglover.yuemupicturebackend.mapper.ViewRecordMapper">

    <resultMap id="BaseResultMap" type="com.lumenglover.yuemupicturebackend.model.entity.ViewRecord">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="targetId" column="targetId" jdbcType="BIGINT"/>
        <result property="targetType" column="targetType" jdbcType="INTEGER"/>
        <result property="viewTime" column="viewTime" jdbcType="TIMESTAMP"/>
        <result property="viewDuration" column="viewDuration" jdbcType="INTEGER"/>
        <result property="ip" column="ip" jdbcType="VARCHAR"/>
        <result property="userAgent" column="userAgent" jdbcType="VARCHAR"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="BaseColumnList">
        id,userId,targetId,targetType,viewTime,viewDuration,ip,userAgent,
        createTime,updateTime,isDelete
    </sql>

</mapper>